In [ ]:
from tkinter import *
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("re.csv")

In [ ]:
df

,Above_1_ton_per_hec,Below_1_ton_per_hec,Above_3_tons_per_hec,Above_100_tons_per_hec,Above_70_tons_per_hec,Above_40_tons_per_hec,Above_6_tons_per_hec,Above_50_tons_per_hec,Above_10_tons_per_hec,Below_20000_hec,...,Summer,Winter,TA50,TA60,TA80,HB25,HA25,HA60,HA80,Crop
0,1,0,0,0,0,0,0,0,0,1,...,1,0,1,0,0,1,0,0,1,Sugercane
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,Rice
2,0,1,0,0,0,0,0,0,0,1,...,0,0,0,1,0,1,0,0,0,Sugercane
3,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,Rice
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,Tobacco
5,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,Rice
6,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,Wheat
7,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,Rice
8,0,0,0,0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,1,Wheat
9,0,0,0,0,0,1,0,0,0,1,...,0,1,1,0,0,0,0,1,0,Rice
10,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,1,0,0,Coconut
11,1,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,1,0,Yam
12,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,1,0,0,Wheat
13,0,1,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,1,Sweetpotato
14,0,0,0,0,0,0,0,0,1,0,...,1,0,1,0,0,0,0,0,1,Wheat
15,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,Rice
16,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,1,0,0,1,0,Wheat
17,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,Sweetpotato
18,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,1,0,0,0,1,Yam
19,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,1,0,Yam
20,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,Coconut
21,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,Turmeric
22,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,1,0,0,WaterMelon
23,0,0,0,1,0,0,0,0,0,1,...,0,0,1,0,0,0,0,1,0,Turmeric
24,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,Tobacco
25,0,0,1,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,1,WaterMelon
26,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,Tapioca
27,0,0,0,0,0,0,0,0,1,0,...,1,0,1,0,0,0,0,1,0,Turmeric
28,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,Urad
29,0,0,0,0,1,0,0,0,0,1,...,0,0,0,1,0,0,1,0,0,Tapioca
30,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,1,0,0,0,Varagu
31,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,1,0,0,Tobacco
32,0,0,1,0,0,0,0,0,0,0,...,1,0,1,0,0,0,1,0,0,Turmeric
33,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,Sweetpotato
34,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,WaterMelon

In [ ]:
df.shape

(35, 59)

In [ ]:
df.columns

Index(['Above_1_ton_per_hec', 'Below_1_ton_per_hec', 'Above_3_tons_per_hec',
       'Above_100_tons_per_hec', 'Above_70_tons_per_hec',
       'Above_40_tons_per_hec', 'Above_6_tons_per_hec',
       'Above_50_tons_per_hec', 'Above_10_tons_per_hec', 'Below_20000_hec',
       'Above_20000_hec', 'Above_40000_hec', 'Above_80000_hec',
       'Andaman and Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli', 'Goa', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka',
       'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
       'Mizoram', 'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'Kharif', 'Whole year', 'Rabi', 'Autumn', 'Summer',
       'Winter', 'TA50', 'TA60', 'TA80', 'HB25', 'HA25', 'HA60', 'HA80',
       'Crop'],
      dtype='object')

In [ ]:
l1=['Above_1_ton_per_hec', 'Below_1_ton_per_hec', 'Above_3_tons_per_hec',
       'Above_100_tons_per_hec', 'Above_70_tons_per_hec',
       'Above_40_tons_per_hec', 'Above_6_tons_per_hec',
       'Above_50_tons_per_hec', 'Above_10_tons_per_hec']

In [ ]:
l2=['Below_20000_hec',
       'Above_20000_hec', 'Above_40000_hec', 'Above_80000_hec']

In [ ]:
l3=[ 'Andaman and Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli', 'Goa', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka',
       'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
       'Mizoram', 'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand']

In [ ]:
l4=['Kharif', 'Whole year', 'Rabi', 'Autumn', 'Summer',
       'Winter']

In [ ]:
l5=['TA50', 'TA60', 'TA80']

In [ ]:
l6=['HB25', 'HA25', 'HA60', 'HA80']

In [ ]:
df['Crop'].unique()

array(['Sugercane', 'Rice', 'Tobacco', 'Wheat', 'Coconut', 'Yam',
       'Sweetpotato', 'Turmeric', 'WaterMelon', 'Tapioca', 'Urad',
       'Varagu'], dtype=object)

In [ ]:
cropyc=['Sugercane', 'Rice', 'Tobacco', 'Wheat', 'Coconut', 'Yam',
       'Sweetpotato', 'Turmeric', 'WaterMelon', 'Tapioca', 'Urad',
       'Varagu']

In [ ]:
l7=['Above_1_ton_per_hec', 'Below_1_ton_per_hec', 'Above_3_tons_per_hec',
       'Above_100_tons_per_hec', 'Above_70_tons_per_hec',
       'Above_40_tons_per_hec', 'Above_6_tons_per_hec',
       'Above_50_tons_per_hec', 'Above_10_tons_per_hec', 'Below_20000_hec',
       'Above_20000_hec', 'Above_40000_hec', 'Above_80000_hec',
       'Andaman and Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli', 'Goa', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka',
       'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
       'Mizoram', 'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'Kharif', 'Whole year', 'Rabi', 'Autumn', 'Summer',
       'Winter', 'TA50', 'TA60', 'TA80', 'HB25', 'HA25', 'HA60', 'HA80']

In [ ]:
l8=[]
for x in range(0,len(l7)):
    l8.append(0)

In [ ]:
df.replace({'Crop':{'Sugercane':0, 'Rice':1, 'Tobacco':2, 'Wheat':3, 'Coconut':4, 'Yam':5,
       'Sweetpotato':6, 'Turmeric':7, 'WaterMelon':8, 'Tapioca':9, 'Urad':10,
       'Varagu':11}},inplace=True)

In [ ]:
X= df[l7]


y = df[["Crop"]]
np.ravel(y)

array([ 0,  1,  0,  1,  2,  1,  3,  1,  3,  1,  4,  5,  3,  6,  3,  1,  3,
        6,  5,  5,  4,  7,  8,  7,  2,  8,  9,  7, 10,  9, 11,  2,  7,  6,
        8], dtype=int64)

In [ ]:
# TRAINING DATA tr --------------------------------------------------------------------------------
tr=pd.read_csv("tere.csv")

In [ ]:
X_test= tr[l7]
y_test = tr[["Crop"]]
np.ravel(y_test)

array(['Rice', 'Wheat', 'Coconut', 'Yam', 'Rice', 'Coconut', 'Rice',
       'Sugercane', 'Rice', 'WaterMelon', 'Tobacco', 'Sweetpotato',
       'Sugercane', 'Turmeric', 'Sugercane', 'WaterMelon', 'Yam',
       'Tobacco', 'Turmeric', 'Tapioca', 'Turmeric', 'Urad', 'Varagu',
       'Sugercane'], dtype=object)

In [ ]:
def randomforest():
    from sklearn.ensemble import RandomForestClassifier
    clf4 = RandomForestClassifier()
    clf4 = clf4.fit(X,np.ravel(y))

    # calculating accuracy-------------------------------------------------------------------
    from sklearn.metrics import accuracy_score
    y_pred=clf4.predict(X_test)
    print(accuracy_score(y_test, y_pred))
    print(accuracy_score(y_test, y_pred,normalize=False))
    # -----------------------------------------------------

    terms = [State.get(),Season.get(),Tl.get(),Hl.get(),Yl.get()]

    for k in range(0,len(l7)):
        for z in terms:
            if(z==l7[k]):
                l8[k]=1

    inputtest = [l8]
    predict = clf4.predict(inputtest)
    predicted=predict[0]

    h='no'
    for a in range(0,len(cropyc)):
        if(predicted == a):
            h='yes'
            break

    if (h=='yes'):
        t2.delete("1.0", END)
        t2.insert(END, cropyc[a])
    else:
        t2.delete("1.0", END)
        t2.insert(END, "Not Found")

In [ ]:

root = Tk()
root.title("Indian Crop Prediction")
#root.configure(background='black')

''

In [ ]:

canvas = Canvas(root,width=1880,height=1253)
canvas.pack()
photo = PhotoImage(file ='im3.png')
canvas.create_image(0,0,image=photo,anchor=NW)

1

In [ ]:
# gui_stuff------------------------------------------------------------------------------------


# entry variables

State = StringVar()
State.set(None)

Season = StringVar()
Season.set(None)

Tl = StringVar()
Tl.set(None)

Hl = StringVar()
Hl.set(None)

Yl = StringVar()
Yl.set(None)

Yc = StringVar()
Yc.set(None)

fn= StringVar()
vn= StringVar()
dn=StringVar()
rl= IntVar()

In [ ]:

# Heading
w2 = Label(canvas, justify=LEFT, text="Crop Prediction using Machine Learning", fg="white", bg="red")
w2.config(font=("Elephant", 20))
w2.grid(row=1, column=0, columnspan=2, padx=100)
w2 = Label(canvas, justify=LEFT, text="Indian Agricultural Department", fg="green")
w2.config(font=("Times Roman", 15))
w2.grid(row=2, column=0, columnspan=2, padx=100)

In [ ]:
# labels
FNLb = Label(canvas, text="Farmer Name",fg="yellow", bg="black")
FNLb.grid(row=5, column=0, pady=15, sticky=W)

VNLb = Label(canvas, text="Village Name",fg="yellow", bg="black")
VNLb.grid(row=6, column=0, pady=15, sticky=W)

DNLb = Label(canvas, text="District Name",fg="yellow", bg="black")
DNLb.grid(row=7, column=0, pady=15, sticky=W)

In [ ]:
# labels
stLb = Label(canvas, text="State Name",fg="yellow", bg="black")
stLb.grid(row=8, column=0, pady=15, sticky=W)

seLb = Label(canvas, text="Season Details",fg="yellow", bg="black")
seLb.grid(row=9, column=0, pady=15, sticky=W)

tlLb = Label(canvas, text="Temperature Level",fg="yellow", bg="black")
tlLb.grid(row=5, column=1, pady=15, sticky=W)

hlLb = Label(canvas, text="Humidity Level",fg="yellow", bg="black")
hlLb.grid(row=6, column=1, pady=15, sticky=W)

ylLb = Label(canvas, text="Yield level (per Hectare)",fg="yellow", bg="black")
ylLb.grid(row=7, column=1, pady=15, sticky=W)

ycLb = Label(canvas, text="Yield cost amount  (per Hectare)",fg="yellow", bg="black")
ycLb.grid(row=8, column=1, pady=15, sticky=W)

In [ ]:



ranfLb = Label(canvas, text="RF", fg="white", bg="red")
ranfLb.grid(row=15, column=0, pady=10, sticky=W)

In [ ]:
# entries
OPTIONS1 = sorted(l1)
OPTIONS2 = sorted(l2)
OPTIONS3 = sorted(l3)
OPTIONS4 = sorted(l4)
OPTIONS5 = sorted(l5)
OPTIONS6 = sorted(l6)

In [ ]:

FNEn = Entry(canvas, textvariable=fn)
FNEn.grid(row=5, column=0)

VNEn = Entry(canvas, textvariable=vn)
VNEn.grid(row=6, column=0)

DNEn = Entry(canvas, textvariable=dn)
DNEn.grid(row=7, column=0)

stEn = OptionMenu(canvas, State,*OPTIONS3)
stEn.grid(row=8, column=0)

seEn = OptionMenu(canvas, Season,*OPTIONS4)
seEn.grid(row=9, column=0)

tlEn = OptionMenu(canvas, Tl,*OPTIONS5)
tlEn.grid(row=5, column=1)

hlEn = OptionMenu(canvas, Hl,*OPTIONS6)
hlEn.grid(row=6, column=1)

ylEn = OptionMenu(canvas, Yl,*OPTIONS1)
ylEn.grid(row=7, column=1)

ycEn = OptionMenu(canvas, Yc,*OPTIONS2)
ycEn.grid(row=8, column=1)

In [ ]:



rnf = Button(canvas, text="Check the result", command=randomforest,bg="cyan",fg="green")
rnf.grid(row=15, column=1,padx=10)

In [ ]:

#textfileds
t2 = Text(canvas, height=1, width=40,bg="orange",fg="black")
t2.grid(row=15, column=0 , padx=10)


root.mainloop()

C:\Users\SPIRO-PYTHON\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.0
0